html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, section, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}


body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  height: 700px;
  background: url("/images/mainImg.svg") center center/cover no-repeat;
  
}

.header-container {
  margin: 0 auto; 
  width: 1600px;
  /* display: flex; */
  padding-top: 51px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 51px;
}

.header-line {
  display: flex;
}

.logo-wrapper {
  display: flex;
  margin-right: 86px;
}

.logo-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  margin-left: -20px;
}

.logo-img {
  margin-top: -6px;
  
}

.menu-wrapper {
  width: 620px;
  margin-right: 187px;
}

div.menu {
  display: flex;
  justify-content: space-between;
}

div.menu div a{
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 21,94px;
  font-weight: 500;

}

.phone-number {
  font-size: 24px;
  line-height: 29,26px;
  font-weight: 500;
  color: #000000;
}

.header-title {
  margin-top: 143px;
  width: 621px;
  /* height: 128px; */
  font-size: 46px;
  line-height: 56.07px;
  font-weight: 700;
  color: #202020;
  
}

.header-subtitle {
  margin-top: 30px;
  width: 521px;
  /* height: 58px; */
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 500;
  color: #202020;
  
}

.header-btn {
  margin-top: 60px;
  width: 300px;
  height: 85px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #90E344, #6CB42A);
  color: #FFFFFF;
  font-size: 18px;
  line-height: 100%;

}

.assistance {
  display: flex;
}

.assistance-container {
  margin: 0 auto; 
  /* margin-top: 126px; */
  /* margin-bottom: 120px; */
  /* margin-left: 200px; */
  width: 1600px;
  padding-top: 126px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 120px;

}

.assistance-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #202020;
}

.assistance-subtitle {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
/* identical to box height, or 167% */
  text-align: center;
  color: #000000;
}

.assistance-descr-wrapper {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 78px;
}

.assistance-descr-img {
  margin-top: -93px;
  margin-right: 158px;
}

.assistance-descr-item {
  margin-bottom: 30px;
  display: flex;
}

.assistance-descr-item-small-circle {
  /* margin-left: -21px; */
  /* margin-top: -21px; */
}

.assistance-descr-item-text {
  margin-left: 15px;
  font-weight: 500;
  line-height: 22px;
  font-size: 16px;
/* or 138% */
  color: #000000;
}

.assistance-circles {
  /* margin-top: 376px; */
  /* float: right; */
  top: 1070px;
  position: absolute;
  right: 0;
}
