html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}


body {
  font-family: 'Montserrat', sans-serif;
}

.header-container {
  /* display: flex; */
  margin: 0 auto;
  width: 1600px;
  height: 700px;
  padding-top: 51px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 51px;
  background-image: url("/images/mainImg.svg");
}

.header-line {
  display: flex;
}

.logo-wrapper {
  display: flex;
  margin-right: 86px;
}

.logo-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  margin-left: -20px;
}

.logo-img {
  margin-top: -6px;
  
}

.menu-wrapper {
  width: 620px;
  margin-right: 187px;
}

div.menu {
  display: flex;
  justify-content: space-between;
}

div.menu div a{
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 21,94px;
  font-weight: 500;

}

.phone-number {
  font-size: 24px;
  line-height: 29,26px;
  font-weight: 500;
  color: #000000;
}

.header-title {
  margin-top: 143px;
  width: 621px;
  /* height: 128px; */
  font-size: 46px;
  line-height: 56.07px;
  font-weight: 700;
  color: #202020;
  
}

.header-subtitle {
  margin-top: 30px;
  width: 521px;
  /* height: 58px; */
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 500;
  color: #202020;
  
}

.header-btn {
  margin-top: 60px;
  width: 300px;
  height: 85px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #90E344, #6CB42A);
  color: #FFFFFF;
  font-size: 18px;
  line-height: 100%;

}
