html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, section, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}


body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  height: 700px;
  background: url("/images/mainImg.svg") center center/cover no-repeat;
  
}

.header-container {
  margin: 0 auto; 
  width: 1600px;
  padding-top: 51px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 51px;
}

.header-line {
  display: flex;
}

.logo-wrapper {
  display: flex;
  margin-right: 86px;
}

.logo-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  margin-left: -20px;
}

.logo-img {
  margin-top: -6px;
  
}

.menu-wrapper {
  width: 620px;
  margin-right: 187px;
}

div.menu {
  display: flex;
  justify-content: space-between;
}

div.menu div a{
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 21,94px;
  font-weight: 500;

}

.phone-number {
  font-size: 24px;
  line-height: 29,26px;
  font-weight: 500;
  color: #000000;
}

.header-title {
  margin-top: 143px;
  width: 621px;
  font-size: 46px;
  line-height: 56.07px;
  font-weight: 700;
  color: #202020;
  
}

.header-subtitle {
  margin-top: 30px;
  width: 521px;
  /* height: 58px; */
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 500;
  color: #202020;
  
}

.header-btn {
  margin-top: 60px;
  width: 300px;
  height: 85px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #90E344, #6CB42A);
  color: #FFFFFF;
  font-size: 18px;
  line-height: 100%;

}

.assistance {
  display: flex;
}

.assistance-container {
  margin: 0 auto; 
  width: 1600px;
  padding-top: 126px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 120px;

}

.assistance-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #202020;
}

.assistance-subtitle {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
/* identical to box height, or 167% */
  text-align: center;
  color: #000000;
}

.assistance-descr-wrapper {
  display: flex;
  margin-top: 78px;
}

.assistance-descr-img {
  margin-top: -93px;
  margin-right: 158px;
}

.assistance-descr-item {
  margin-bottom: 30px;
  display: flex;
}

.assistance-descr-item-small-circle {
  position: relative;
  bottom: 8px;
  right: 30px;
  
}

.assistance-descr-item-text {
  margin-left: 15px;
  font-weight: 500;
  line-height: 22px;
  font-size: 16px;
/* or 138% */
  color: #000000;
}

.assistance-circles {
  top: 1070px;
  position: absolute;
  right: 0;
}

.services {
  margin: 0 auto;
  width: 1600px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 120px;
}

.services-title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  text-align: center;
  color: #202020;
}

.services-subtitle {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #202020;
}

.services-items {
  display: flex;
  justify-content: space-between;

}

.services-item {
  width: 285px;
  /* height: 326px; */
  padding: 30px 20px;
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
}

.services-item-img-wrapper {
  margin-bottom: 30px;
  width: 115px;
  height: 94px;
  border: 1px solid #6CB42A;

  border-radius: 8px;
  /* border: double 1px transparent; */
  box-sizing: border-box;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(180deg, #90E344 0%, #6CB42A 100%);
  background-origin: border-box;
  background-clip: content-box border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.services-item-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-transform: uppercase;
  color: #000000;
}

.services-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.about-company-container {
  margin: 0 auto;
  width: 1600px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 120px;
}

.about-company-title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  text-align: center;
  color: #202020;
}

.about-company-subtitle {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #202020;
}
